@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h3>Anchal Ladhar</h3>
    <p>Nature's beauty is a timeless masterpiece that never ceases to amaze. As the sun rises, it gently kisses the horizon, painting the sky in hues of pink and gold, awakening the world to a new day. The gentle breeze whispers through the leaves of ancient trees, orchestrating a symphony of rustling melodies. Birds take flight, their vibrant plumage glinting in the sunlight as they soar through the open skies.</p>
</div>